<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">

			<div>
				<ul class="mb3">
					<li>{{ .Site.Data.footer.address }}</li>
					<li>{{ .Site.Data.footer.postalcode }}</li>
					<li>{{ .Site.Data.footer.city }}</li>
				</ul>
			</div>

			<div>
				<ul class="mb3">
					<li>Tel: <a href="tel: {{ .Site.Data.footer.phonenumber }}">{{ .Site.Data.footer.phonenumber }}</a></li>
					<li>Email: <a href="mailto: {{ .Site.Data.footer.email }}">{{ .Site.Data.footer.email }}</a></li>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
